@model How2Games.Domain.DB.FormUser;

<div class="form">
    <h2>How2Games</h2>
    <p>Create a How2Games Acccount</p>
    <br>
    <form method="POST" action="/home/SignUp" name="registration" onsubmit="return validatePassword()">

        <input type="text" asp-for="@Model.FirstName" name="first_name" placeholder="First Name *" required pattern="^[A-Za-z]{1,20}$">
        <input type="text" asp-for="@Model.LastName" name="last_name" placeholder="Last Name *" required pattern="^[A-Za-z]{1,20}$">



        <input class="check" asp-for="@Model.Email" type="email" name="email" placeholder="Email (abc@email.com) *">
        <input class="check" asp-for="@Model.UserName" type="text" name="UserName" placeholder="Username *" required pattern="{1-30}">
        <input class="check" asp-for="@Model.Password" type="password" name="password" placeholder="Password12345!!! *" id="password">
        <br>
        <div class="buttons">
            <input class="clearBtn" type="reset" value="Clear">

            <input class="submitBtn" type="submit" value="Submit">
        </div>

    </form>
</div>
