@using System.Web;
@using Microsoft.AspNetCore.Identity;
@using How2Games.Domain.ViewModels;
@model ManageUserRolesViewModel;
@inject RoleManager<IdentityRole> roleManager;

<link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
@if (Model != null)
{
    <div>
    <ul>
        <li>Name: @Model.user.FullName</li>
        <li>UserName: @Model.user.UserName</li>
        <li>Email: @Model.user.Email</li>
    </ul>
    </div>

    <div class="divRight">

  
        <form method="POST" asp-action="UpdateUser" asp-controller="Admin" asp-route-userId="@Model.user.Id">
            @foreach (var role in roleManager.Roles)
            {

                if (Model.Selected)
                {
                    <label class="labelRadio">
                        @role.Name
                    </label>
                        <input type="radio" asp-for="RoleName" value="@role.Name">
                    

                }
                else{
                    <label class="labelRadio">@role.Name</label>

                        <input type="radio" asp-for="RoleName" value="@role.Name">
                  
                }

            }
            <button class="btn btn-primary" type="submit">Update User</button>
            <button class="btn btn-primary" type="submit" asp-action="DeleteUser" asp-route-userId="@Model.user.Id">Delete User</button>
        </form>
     
    </div>
}
else
{
    <p>No user with that id exists.</p>
}
