@using System.Web;
@using How2Games.Domain.Models;
@model QuestionViewModel

<link rel="stylesheet" href="~/css/GamePage.css" />


<div id="Flex-GamePage">
    <h1>@Model.Game.Name</h1>
    <img src="@Model.Game.ImgUrl"></img>
    <div id="Flex-GamePage-Text">
        <p>@Model.Game.ShortDescription</p>
    </div>
    <div id="newQuestionedFlexbox">
        <form method="post">
            <input id="gameId" name="gameId" type="text" value="@Model.Game.Id" style="display: none;"/>
            <input id="gameName" name="gameName" type="text" value="@Model.Game.Name" style="display: none;" />
            <button type="submit" class="btn btn-primary">New Question</button>
        </form>
        <partial name="~/Views/SearchBar/_GamePageSearchBar.cshtml" />
    </div>
    <div id="SearchResultsQuestionContainer">
        <h3>Questions</h3>
        <div id="searchResultsQuestion">

            @if (Model.Questions != null)
            {
                @foreach (var v in Model.Questions)
                {
                    <div class="questionContainer">
                        <a href="/Posts/Question/@v.Id" class="title">@v.Title.ToUpper()</a>
                        <p>Views: @v.ViewCount</p>
                    </div>
                }
            }
        </div>
    </div>
</div>
