@using System.Web;
@using How2Games.Domain.Models;
@model QuestionViewModel

<link rel="stylesheet" href="~/css/GamePage.css" />

<style>
    button {
        margin: 10px;
    }

    .questionContainer {
        border-bottom: 2px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        font-size: 18px;
    }

    .title {
        color: black;
    }

    .title:hover {
        color: cornflowerblue;
        text-decoration: none;
    }
</style>

<div id="Flex-GamePage">
    <h1>@Model.Game.Name</h1>
    <img src="@Model.Game.ImgUrl"></img>
    <div id="Flex-GamePage-Text">
        <p>@Model.Game.ShortDescription</p>
    </div>
    <div id="newQuestionedFlexbox">
        <form method="post">
            <input id="gameId" name="gameId" type="text" value="@Model.Game.Id" style="display: none;"/>
            <input id="gameName" name="gameName" type="text" value="@Model.Game.Name" style="display: none;" />
            <button type="submit" class="btn btn-primary">New Question</button>
        </form>
        <partial name="~/Views/SearchBar/_GamePageSearchBar.cshtml" />
    </div>
    <div id="SearchResultsQuestionContainer">
        <div id="searchResultsQuestion">
            @if (Model.Questions != null)
            {
                @foreach (var i in Model.Questions)
                {
                    <div id="Question">
                        <h3>@i.Title</h3>
                        <p>@i.HTML</p>
                    </div>
                }
            }
        </div>
    </div>


</div>


@if (Model.Questions != null)
{
    <h3>Questions</h3>
    @foreach (var v in Model.Questions)
    {
        <div class="questionContainer">
            <a href="/Posts/Question/@v.Id" class="title">@v.Title</a>
            <p>Views: @v.ViewCount</p>
        </div>
    }
}

@*<div id="DetailedDescription">
    @Html.Raw(HttpUtility.HtmlDecode(Model.DetailedDescription));
</div>
*@